[submodule "Bundles/Cappuccino.tmbundle"]
	path = Bundles/Cappuccino.tmbundle
	url = git://github.com/malkomalko/Cappuccino.tmbundle.git
[submodule "Bundles/Ruby on Rails.tmbundle"]
	path = Bundles/Ruby on Rails.tmbundle
	url = git://github.com/drnic/ruby-on-rails-tmbundle.git
[submodule "Bundles/CoffeeScript.tmbundle"]
	path = Bundles/CoffeeScript.tmbundle
	url = git://github.com/jashkenas/coffee-script-tmbundle.git
[submodule "Bundles/GoToFile.tmbundle"]
	path = Bundles/GoToFile.tmbundle
	url = git://github.com/amiel/gotofile.tmbundle.git
[submodule "Bundles/RubyAMP.tmbundle"]
	path = Bundles/RubyAMP.tmbundle
	url = git://github.com/timcharper/rubyamp.git
[submodule "Bundles/RSpec.tmbundle"]
	path = Bundles/RSpec.tmbundle
	url = git://github.com/rspec/rspec-tmbundle.git
[submodule "Bundles/Git.tmbundle"]
	path = Bundles/Git.tmbundle
	url = git://github.com/jcf/git-tmbundle.git
[submodule "Bundles/Ruby.tmbundle"]
	path = Bundles/Ruby.tmbundle
	url = git://github.com/drnic/ruby-tmbundle.git
[submodule "Bundles/Bundler.tmbundle"]
	path = Bundles/Bundler.tmbundle
	url = git://github.com/drnic/Bundler.tmbundle.git
[submodule "Bundles/SproutCore.tmbundle"]
	path = Bundles/SproutCore.tmbundle
	url = git://github.com/sproutit/sproutcore-tmbundle.git
[submodule "Bundles/Mustache.tmbundle"]
	path = Bundles/Mustache.tmbundle
	url = git://github.com/defunkt/Mustache.tmbundle.git
[submodule "Bundles/Copy as RTF.tmbundle"]
	path = Bundles/Copy as RTF.tmbundle
	url = git://github.com/drnic/copy-as-rtf-tmbundle.git
[submodule "Bundles/Handlebars.tmbundle"]
	path = Bundles/Handlebars.tmbundle
	url = git://github.com/drnic/Handlebars.tmbundle.git
